@import url('https://fonts.googleapis.com/css2?family=Nova+Square&family=Roboto+Slab:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nova-Square", "Roboto", sans-serif;
}
body{
    background-color: rgb(18, 1, 114);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.profile-card{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 400px;
    width: 300px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 3px 3px 100px 5px rgb(0, 255, 221) ;
}
.profile-card::before{
    content: "";
    background-color: rgb(28, 235, 235);
    height: 30%;
    width:100%;
    top: 0;
    position: absolute;
    border-radius: 15px 15px 0 0;
}
.image{
    position: relative;
    height: 150px;
    width: 150px;
    border: 3px solid aqua;
    border-radius: 50%;
  
}
.image .profile_image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    padding: 4px;
}

.text-data{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-data .name{
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    color: rgb(2, 4, 153);
    padding: 2.5px;
}

.text-data .job{
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    color: #000000;
     padding: 2.5px;
}

.media_buttons{
    display: flex;
    gap: 15px;    
}

.link:hover{
    transform: scale(1.25);
    border: 1px solid aqua;
}

.link{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: 30px;
    width: 30px;
    font-size: 20px;
    color: #ffffff;
    background-color: blanchedalmond;
    border-radius: 50%;
    text-decoration: none;
}
.message{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 0 10px;
}
.message .message-link{
    background-color: rgb(1, 206, 221);
    padding: 10px;
    border-radius: 20px;
    color: #003c8a;   
}
.message .message-link:hover{
    border: 2px solid rgb(0, 255, 255);
}
.analytics{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly; 
    font-size: 15px;
    font-family: "Roboto";
}
.analytics .analytics_list{
    display: flex;
    align-items: center;
    gap: 6px;
}
.analytics .analytics_list:hover{
    font-size: 17px;
    font-weight: 400;
    color: aqua;
    cursor: pointer;
}
